# Acesso ao painel
APP_USERNAME=admin
APP_PASSWORD=123
SECRET_KEY=gere-uma-chave-longa-e-aleatoria

# MongoDB Atlas
MONGODB_URI=mongodb+srv://adiccontato_db_user:Xse372ueRwW0uN4v@cluster0.nysayyb.mongodb.net/?appName=Cluster0
MONGODB_DB=gestao_manutencao

# Imgur API
IMGUR_CLIENT_ID=Client-ID 1299aeeb6489b87

# Desenvolvimento local
FLASK_DEBUG=1
PORT=5000
